## Write a Pandas program to implement following operation
* ### to convert a NumPy array to a Pandas series

In [1]:
import numpy as np
import pandas as pd

In [2]:
a=np.array([24,12,20,10])
print("Numpy Array :",a)

x=pd.Series(a)
print("Pandas Series :\n", x)

Numpy Array : [24 12 20 10]
Pandas Series :
 0    24
1    12
2    20
3    10
dtype: int64

* ### to convert the first column of a DataFrame as a Series

In [3]:
dict1 = {
    "name" : ['abc', 'pqr', 'xyz'],
    "marks" : [90, 95, 80],
    "city" : ['porbandar', 'porbandar', 'junagadh']
}
df = pd.DataFrame(dict1)
s = pd.Series(df['name'])
print("1st column(name) of dataframe as series : \n", s)

1st column(name) of dataframe as series :
 0    abc
1    pqr
2    xyz
Name: name, dtype: object

* ## to create the mean and standard deviation of the data of a given Series

In [4]:
s1 = pd.Series([10, 26, 1, 7])
print("dataframe : \n", s1)
print("\nMean : ", s1.mean())
print("Standard Deviation : ", s1.std())

dataframe :
 0    10
1    26
2     1
3     7
dtype: int64

Mean :  11.0
Standard Deviation :  10.677078252031311

* ## to sort a given Series

In [5]:
s2 = pd.Series([10, 52, 85, 74, 26, 2, 91, 125, 256, 68])
print("Series before sorting : \n", s2)
print("Series after sorting : \n", s2.sort_values())

Series before sorting :
 0     10
1     52
2     85
3     74
4     26
5      2
6     91
7    125
8    256
9     68
dtype: int64
Series after sorting :
 5      2
0     10
4     26
1     52
9     68
3     74
2     85
6     91
7    125
8    256
dtype: int64